/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}
/* 
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tu tong quan den chi tiet
*/

/* 
1. vi tri
2. kich thuoc
3. mau sac
4.kieu dang(kieu chu, hinh tron, vuong...)

*/
#main{
    
}
#header{
    height: 46px;
    background-color: #000;

}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .subnav{
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}



#slider{
    min-height: 500px;
}
#content{
    
}
#footer{
    
}